/* Font imports for Pokémon project */

@font-face {
    font-family: 'Pokemon Solid';
    src: url('assets/fonts/Pokemon Solid.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Pokemon';
    src: url('assets/fonts/Pokemon.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VCR OSD Mono';
    src: url('../fonts/VCR_OSD_MONO.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* Global Styles */

* {
    font-family: 'VCR OSD Mono', monospace !important;
}

h1 {
    font-family: 'Pokemon Solid', sans-serif !important;
}

body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokedex {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 80%;
    max-width: 1000px;
    min-height: 500px;
    aspect-ratio: 5 / 4;
    background-image: url('assets/pokedex.png');
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.screen-left {
    width: 50%;
}